ansi2html==1.9.1
apsw==3.44.2.0
cheroot==10.0.0
Flask==3.0.0
github3.py==4.0.1
ipython==8.19.0
Jinja2==3.1.3
MarkupSafe==2.1.3
mock==5.1.0
numpy==1.26.2
python_dateutil==2.8.2
pytz==2023.3.post1
PyYAML==6.0.1
Requests==2.31.0
sicp==0.1.37
unittest2==1.1.0
Werkzeug==3.0.1
docker==7.0.0
celery[redis]==5.3.6

# whsu00: temporary requirement for mailer api
sicp>=0.1.37
